.CodeContainer{
  display: inline-block;
  width: 45%;
  border-bottom: 1px solid silver;
}

.run-code-button{
  position: absolute;
  margin-top: 7px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #2ecc71;
  width: 160px;
  font-size: 15px;
  left: 10px;
}

.run-code-button:hover{
  cursor: pointer;
  background-color: #27ae60;
}
