header{
  background-color: #ecf0f1;
  margin: 0px;
  height: 50px;
}

h1 {
  text-align: left;
  padding: 10px;
}

.confetti-img{
  width: 20px;
  height: 20px;
  margin: 5px;
}

.confetti-1{
  transform: rotateZ(270deg)
}

.login{
  position: absolute;
  top: 10px;
  right: 10px;
}

.login-button{
  margin-top: 2px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #2ecc71;
  width: 100px;
}

.login-button:hover{
  cursor: pointer;
  background-color: #27ae60;
}

.logout-button{
  margin-top: 2px;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #e74c3c;
  width: 100px;
}

.logout-button:hover{
  cursor: pointer;
  background-color: #c0392b;
}




.iron{
  color: #777;
  font-size: 30px;
}
.f{
  color: #2ecc71;
  font-size: 30px;
}
.e{
  color: #e74c3c;
  font-size: 30px;
}
.s{
  color: #9b59b6;
  font-size: 30px;
}
.t{
  color: #f1c40f;
  font-size: 30px;
}

.user-name{
  margin-right: 10px;
}
