.TestContainer{
  display: inline-block;
  width: 55%;
  border-bottom: 1px solid silver;
}

.add-asserts-button{
  position: absolute;
  top: 53px;
  right: 20px;
  background-color: #e67e22;
  color: white;
  border-radius: 3px;
  border: none;
  font-size: 12px;
  height: 30px;
  width: 120px;
}

.add-asserts-button:hover{
  background-color: #d35400;
  cursor: pointer;
}


.assert-options-pane{
  position: absolute;
  right: 0px;
  top: 86px;
  overflow-y: auto;
  width: 500px;
  height: 600px;
  border: 1px solid silver;
  background-color: white;
  z-index: 999;
  flex-wrap: wrap;
}

.assert-item{
  display: inline-block;
  height: 30px;
  margin: 10px;
}

.assert-button{
  background-color: #1abc9c;
  color: white;
  border-radius: 3px;
  border: none;
  font-size: 12px;
  height: 40px;
  width: 130px;
}

.assert-button:hover{
  background-color: #16a085;
}

.tooltip-div{
  font-size: 15px;
  margin: 10px;
}

.name{
  font-size: 20px;
  font-weight: bold;
}
