.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}



.run-test-button{
  margin-top: 2px;
  margin-left: 51%;
  border: none;
  border-radius: 3px;
  color: white;
  background-color: #2ecc71;
  width: 100px;
}

.run-test-button:hover{
  cursor: pointer;
  background-color: #27ae60;
}

.clear-console-button{
  
}
